.App {
  text-align: center;
  padding: 30px;
}
p {
  margin: 25px 0;
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.Product {
  width: 23%;
  min-width: 300px;
  height: 500px;
  position: relative;
  border: 1px solid #B7B7B7;
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5% 1%;
  box-sizing: border-box;
}

.Product img {
  width: 100%;
  height: 170px;
}

.SaleTag {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ED443B;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}

.ProductName {
  font-weight: bold;
  font-size: 22px;
}


.Category {
  color: #EE4941;
  font-size: 17px;
  letter-spacing: 2px;
}

.Price {
  color: #797C94;
  font-weight: bold;
  margin-bottom: 0;
}

.Price span {
  display: inline-block;
  margin-left: 10px;
  color: #BEBFCF;
}
